
#openQuiz{
    position: relative;
    left: 0%;
   padding: 5%;
    font-size: 35px;
    box-shadow: 0 10px 30px rgba(14, 68, 90, 0.89);
    color:#8af4f2;
    font-weight: bolder;
    text-shadow: 3px 2px white;
  }
  #openQuiz:hover{
    color: #17a2b8;
  }



/* Modal Content/Box */
.modal-content {
  background-color:c3def598;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}



#title1{
  text-align: center;
}


#quiz{
  font-size: 30px;
}
/* Modal Header */
.modal-header {
  padding: 2px 1px;
  background-color: #8af4f2;
  color: black;
  width: 100%;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #8af4f2;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #cfbba5;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 10px 30px rgba(14, 68, 90, 0.89);
}
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  left: 50%;
  top: -15%;
  padding-left: 35px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: -16px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #043056;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #17a2b8;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#submit{
  position: relative;
  left: 0%;
  font-size: 35px;
  box-shadow: 0 10px 30px rgba(14, 68, 90, 0.89);
  color: #043056;
  font-weight: bolder;
}
#submit:hover{
    color: #17a2b8;
}
 /*End Style for Modal and components  */

  .q1-response,.q2-response,.q3-response,.q4-response,.q5-response{
    padding: 1%;

  }
  #q1-text, #q2-text, #q3-text, #q4-text, #q5-text{
    margin-top: 1%;
  }
   /*End Style for Modal and components  */

.modal{
  padding-top:30px
}
@media (max-width:768px){
  .modal-content{
    width:500px
  }
  .modal{
    padding-top:50px
  }}
@media (min-width:993px){
  .modal-content{
    width:900px
  }};

  #footerFont1{
    font: 30px segoe UI, Arial, sans-serif;
    text-shadow: 5px 7px 5px rgb(73, 73, 73);
    text-align: center;
  }
  #footer1{
    background-color: #043056;
    color:tan;
    width: 75%;
    position: absolute;
    left: 20%;
    
     
  }
  .facebook{
   
    margin-left: 45%;
  }
  .twitter{
    margin-left: 0%;
  }
 
